<section data-ng-controller="StoresController" data-ng-init="findOne()">
    <span>{{store.created | date:'medium'}}</span> /
    <span>{{store.user.username}}</span>
    <h2>{{store.name}}</h2>
    <div data-ng-show="global.user._id == store.user._id">
        <a class="btn" href="/#!/stores/{{store._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>URL: {{store.url}}</div>
    <h3>Products list</h3>
    <hr>
    <section data-ng-init="findStoreProducts()">
      <ul class="stores unstyled">
        <li data-ng-repeat="product in products">
          <span>{{product.created | date:'medium'}}</span> /
          <span>{{product.user.name}}</span>
          <h2><a data-ng-href="#!/products/{{product._id}}">{{product.name}}</a></h2>
        </li>
      </ul>
      <a data-ng-show="!products || products.length" href="/#!/products/create">Create a new One</a>
      <p data-ng-hide="!products || products.length">No product yet. <br> Why don't you <a href="/#!/products/create">Create One</a>?</p>
    </section>
</section>
